#
# Copyright (C) 2025 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service vendor.device-sh /vendor/bin/init.device.sh
    user root
    group root
    oneshot

on early-init
    exec_start vendor.device-sh
    setprop ro.boot.product.hardware.sku ${ro.separate.soft}

    # WiFi NV
    mount overlay overlay /vendor/firmware/wlan/prima ro lowerdir=/vendor/firmware/wlan/${ro.vendor.wifi.nv}:/vendor/firmware/wlan/prima

    # Miscellaneous variant specific files
    mount overlay overlay /vendor/etc/acdbdata/MTP ro lowerdir=/vendor/etc/acdbdata/${ro.separate.soft}:/vendor/etc/acdbdata/MTP
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/etc/sensor_def/${ro.separate.soft}:/vendor/etc/sensors
    write /sys/module/snd_soc_tfa98xx/parameters/fw_name tfa98xx_${ro.separate.soft}.cnt
